.containerBig {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
  padding: 30px;
  padding-top: 100px;
  width: 100%;
  background: linear-gradient(wheat,#fbfbfb);
}

.vv{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 70%;
 height: 70%;
 box-shadow: 0px 0px 15px #8888889c;
 border-radius: 10px;
}

.vv > img {
  width: 100px;
}

.leftImg{
  display: flex;
  flex: 1;
  background-image: url("https://cdn.pixabay.com/photo/2023/12/04/05/54/ferris-wheel-8428738_640.jpg");
  background-size: cover;
  border-radius: 10px 0px 0px 10px;
}

.upponLog {
	border-radius: 5px;
	box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, 0.082);
	font-weight: 600;
	width: 100%;
  max-width: 250px;
	text-align: center;
	color: rgb(125, 81, 0);
	background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inpC{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 30px 20px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    /* box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, 0.082); */
}

.inp::placeholder{
    text-align: right;
}

.confirmBtn{
    height: 50px;
    border: none;
    padding: 10px 20px;
    background-color: #f5deb3;
    cursor: pointer;
    border-radius: 5px;
}

.inpC .inputBox {
  position: relative;
}

.inpC .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(116, 115, 115);
  letter-spacing: 2px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.inpC .inputBox label {
  position: absolute;
  top: 0;
  right: 0;
  letter-spacing: 2px;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(125, 81, 0);
  pointer-events: none;
  transition: .35s ease-in-out;
}

.inpC .inputBox input:focus ~ label,
.inpC .inputBox input:valid > label {
  top: -25px;
  right: 0;
  color: #03a9f4;
  font-size: 12px;
}

.inpC input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: rgb(72, 72, 72);
  background: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .vv{
    flex-direction: column; 
   }
}