.hotandphoto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  align-items: flex-start;
  direction: rtl;
}

.hotspotCo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  cursor: pointer;
  min-width: 450px;
  padding: 10px;
  border-radius: 8px;
  background-color: wheat;
  transition: 1s;
  box-shadow: 0 0 0.3em 0.2em rgba(0, 0, 0, 0.082);
}

.hotspotCo:hover {
  background-color: rgb(247, 218, 164);
}

.videoContainercc {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  flex-direction: column;
}

.touches {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
}

.touch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(247, 229, 196);
}

.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  min-width: 450px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(237, 202, 135);
  scale: 1.05;
  box-shadow: 0 0 0.3em 0.2em rgba(0, 0, 0, 0.082);
}