.settingsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;
    width: 400px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.settingsContainer label {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    direction: rtl;
}

.HotspotSettingContaner {
    position: relative;
    display: flex;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
}

.predicts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.predictCont {
    display: flex;
    padding: 5px;
    background-color: wheat;
    border-radius: 8px;
    cursor: pointer;
}


